@use './../utils' as *;

#footer {
    margin-top: vw(100px);
    background-color: $greyscale-200;
    width: 100%;
    height: vw(320px);

    .inner {
        padding: vw(90px) 0;

        box-sizing: border-box;
        display: flex;
        justify-content: center;

        gap: vw(250px);
    }
    h2 {
        font-size: vw(20px);
        height: vw(40px);
        a {
            height: 100%;
            img {
                height: 100%;
            }
        }
    }
    .footer {
        &-group {
            display: flex;
            gap: vw(60px);
        }
        &-info-wrap {
            user-select: none;
            width: vw(540px);
            color: $greyscale-1000;
            div {
                display: flex;
                @include font-18px;
                &.links {
                    width: max-content;
                    p {
                        margin-right: vw(20px);
                    }
                    margin-bottom: vw(20px);
                }
                &.info {
                    p {
                        margin-bottom: vw(10px);
                    }
                    flex-direction: column;
                    margin-bottom: vw(10px);
                    line-height: 1;
                }
                &.copyright {
                    color: $greyscale-900;
                }
            }
        }
        &-award-wrap {
            user-select: none;
            width: vw(370px);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: vw(20px);
            color: $greyscale-1000;
            @include font-16px;
            p {
                display: flex;
                height: vw(40px);
                img {
                    margin-right: vw(10px);
                    min-width: vw(30px);
                }
            }
        }
    }
    @include tablet {
        @include mobile {
            height: 41.03vw; // 160px

            .inner {
                flex-direction: column;
                justify-content: center;
                gap: 2.5641vw;
            }

            h2 {
                width: 17.95vw; // 70px
                height: 4.62vw; // 18px

                a {
                    img {
                    }
                }
            }

            .footer {
                &-group {
                    flex-direction: column;
                    align-items: center;
                    height: 100%;
                }

                &-info-wrap {
                    width: 61.54vw; // 240px

                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    div {
                        font-size: 2.05vw; // 8px
                        align-items: center;

                        &.links {
                            p {
                            }
                            margin-bottom: 1.54vw; // 6px
                            line-height: 1;
                        }

                        &.info {
                            p {
                            }
                            margin-bottom: 0;
                        }

                        &.copyright {
                            line-height: 1;
                        }
                    }
                }

                &-award-wrap {
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    p {
                        flex-direction: column;
                        align-items: center;
                        font-size: 1.54vw; // 6px
                        line-height: 1;
                        padding: 0 2.56vw; // 10px

                        img {
                            width: 3.85vw; // 15px
                            height: 2.56vw; // 10px
                        }
                    }
                }
            }
        }
    }
}
