@use '../../../styles/utils/' as *;

.tab-button {
    &-wrap {
        margin-top: vw(50px);
    }
    min-width: vw(180px);
    height: vw(50px);
    box-sizing: border-box;
    @include font-20px-M;
    @include circle;
    margin-right: vw(30px);
    background-color: $white;
    transition: 0.3s ease;
    border: 1px solid $mint;

    &:hover {
        background-color: $mint;
        color: $white;
    }
    &:last-child {
        margin-right: 0;
    }
    &.g {
        @include font-20px-B;
        background-color: $mint;
        color: $white;
    }
    &-2 {
        @include font-16px-B;
        color: $greyscale-1100;
        border: none;
        background-color: transparent;
        padding: vw(10px) vw(5px);
        transition: 0.3s;
        position: relative;
        &:not(:last-child) {
            margin-right: vw(15px);
        }

        &.on {
            color: $mint;
            &::after {
                position: absolute;
                content: '';
                background-color: $mint;
                width: 100%;
                height: vw(2px);
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                transition: 0.3s;
            }
        }
        &:hover {
            color: $mint;
            &::after {
                width: 100%;
            }
        }
    }
}
