@use "../../styles/utils" as *;

.contact {
  width: 100%;
  height: vw(400px);
  background-color: #0a131b;
  color: #d8e3ef;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .contact-line {
    position: absolute;
    top: vw(-10px);
    left: vw(-80px);
    width: 100%;
    height: vw(200px);
    z-index: 0;
    pointer-events: none;

    path {
      stroke: #7fc3ff;
      stroke-width: vw(3.5px);
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      opacity: 1;
    }
  }

  .contact-inner {
    width: 100%;
    max-width: vw(1400px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    opacity: 0;
    transform: translateY(vw(60px));
  }

  .contact-left {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    margin-top: vw(25px);
  }

  .contact-sub {
    color: #4fa5de;
    font-family: "Cormorant Garamond", "Times New Roman", serif;
    font-size: vw(35px);
    font-weight: 400;
    letter-spacing: vw(0.7px);
  }

  .contact-title {
    color: #dcdcdc;
    font-size: vw(35px);
    font-weight: 300;
    line-height: 150%;
    letter-spacing: vw(0.8px);
  }

  .contact-info {
    color: #b5b5b5;
    font-size: vw(16px);
    font-weight: 300;
    line-height: 150%;
    letter-spacing: vw(0.36px);
    li {
      letter-spacing: vw(0.3px);
      transition: color 0.3s ease;
      &:hover {
        color: #7fc3ff;
      }
    }
  }

  .contact-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: vw(60px);
    text-align: right;

    img {
      width: vw(100px);
      height: auto;
      object-fit: contain;
      opacity: 0.9;
    }

    p {
      color: #b5b5b5;
      font-size: vw(16px);
      font-weight: 300;
      line-height: 150%;
      letter-spacing: vw(0.36px);
    }
  }

  @media (max-width: 390px) {
    height: auto;
    padding: 3em 1.5em;

    .contact-inner {
      flex-direction: column;
      gap: 2.5em;
      text-align: center;
    }

    .contact-left,
    .contact-right {
      align-items: center;
      text-align: center;
    }

    .contact-line {
      height: vw(120px);
    }
  }
}
