@use "../../styles/utils" as *;

.hobbies {
  width: 100%;
  height: 892px;
  background-color: #1f252b;
  position: relative;
  overflow: hidden;
  display: block;

  /* 마퀴 */
  .marquee {
    margin-top: 120px;
    color: #2e363f;
    background-color: #1b2127;
    font-weight: 500;
    font-size: 60px;
    text-transform: uppercase;
    overflow: hidden;
    height: 120px;
    line-height: 80px;
    white-space: nowrap;

    &__inner {
      padding: 20px 0;
      display: flex;
      min-width: 200%;
      flex-direction: row;
    }

    &__part {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      white-space: nowrap;
      padding: 0 12px;
    }
  }

  /* 내용 */
  .hobbies-inner {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 140px;
    position: relative;
    z-index: 2;
  }

  .hobbies-header {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-bottom: 3em;
    opacity: 0;

    h2 {
      color: #4fa5de;
      font-family: "Cormorant Garamond", serif;
      font-size: 35px;
      font-weight: 400;
      letter-spacing: 0.7px;
    }
  }

  /* 메뉴 */
  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6em;
  }

  .menu__item {
    position: relative;
    margin-bottom: 0.3em;
    cursor: pointer;
  }

  .menu__item-text {
    color: #dcdcdc;
    font-family: Pretendard, sans-serif;
    font-size: 70px;
    font-weight: 300;
    line-height: 140%;
    transition: color 0.3s ease;
    &:hover {
      color: #4fa5de;
    }
  }

  .menu__item-image_wrapper {
    position: absolute;
    top: -80px;
    left: 800px;
    width: 480px;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 5;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
      filter: brightness(0.95) contrast(1.05);
    }
  }

  @media (max-width: 1024px) {
    .marquee {
      font-size: 24px;
    }

    .menu__item-text {
      font-size: 5vw;
    }

    .menu__item-image_wrapper {
      width: 70vw;
      height: 40vw;
      left: 50%;
      top: 58%;
    }
  }
}
