html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: "SokchoBadaDotum";
  src:
    url("./assets/font/SokchoBadaDotum.woff2") format("woff2"),
    url("./assets/font/SokchoBadaDotum.woff") format("woff");
  font-display: swap;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
