@font-face {
  font-family: "SokchoBadaDotum";
  src: url("./assets/font/SokchoBadaDotum.woff2") format("woff2"),
    url("./assets/font/SokchoBadaDotum.woff") format("woff");
  font-display: swap;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
