@use './../utils' as *;
// default.scss

* {
    box-sizing: border-box;
}

body {
    background: $main-bg;
    font-family: 'PretendardLatin', 'SuitKorean', sans-serif;
    font-weight: 500;
    color: $default;
    @include font-16px;
    word-break: keep-all;

    @include desktop {
    }
    @include tablet {
        .inner {
            width: min(89.74vw, 350px);
        }
    }
    @include mobile {
        .inner {
            width: min(89.74vw, 350px);
        }
    }
}
